
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<style>
    .containerim {
        float: left;
        align-items: center;
        border: none;
        /*background-color:#b79f90;*/
        background-color: rgb(255, 255, 255,0.3);
        padding: 10%;
        box-sizing: border-box;
        margin: 20px auto;
    }

    .icDiv {
        float: left;
        margin-right: 20px;
        margin-top: 30px;
        background-color: rgba(200,200,200,0.5);
        width: 150px;
        padding: 20px;
        height: 200px;
        transition: transform 0.3s ease;
    }

        .icDiv h3, .icDiv p {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

    a {
        text-decoration: none;
        color: inherit;
    }

    .icDiv:hover {
        transform: scale(1.1);
        border: 1px solid lightgray;
    }
</style>



<div class="containerim">
    <a href="@Url.Action("KullaniciListele","Admin")">
        <div class="icDiv">
            <h3>Kullanıcları Listele</h3>
            <p>Kullanıcıları listele ve üyeleri yönet</p>
        </div>
    </a>
    <a href="@Url.Action("YaziListele","Admin")">
        <div class="icDiv">
            <h3>Yazıları Listele</h3>
            <p>Sitede yazılmış tüm yazıları listele</p>
        </div>
    </a>
    <a href="@Url.Action("SiirListele","Admin")">
        <div class="icDiv">
            <h3>Şiirleri Listele</h3>
            <p>Sitede yazılmış tüm şiirleri listele</p>
        </div>
    </a>
    <a href="@Url.Action("HaberListele","Admin")">
        <div class="icDiv">
            <h3>Haberleri Listele</h3>
            <p>Sitede paylaşılan bütün haberleri listele</p>
        </div>
    </a>
    <a href="@Url.Action("ResimListele","Admin")">
        <div class="icDiv">
            <h3>Resim Listele</h3>
            <p>Bütün resimleri inceleyebilirsin</p>
        </div>
    </a>
</div>

