@model List<adminTabani_01_05_24.Models.Kullanici>
@{
    ViewBag.Title = "KullaniciListele";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Ad</td>
                <td>Mail</td>
                <td>Şifre</td>
                <td>Mesaj</td>
                <td>Ceza</td>
                <td>Profil</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var kullanici in Model)
            {
                <tr>
                    <td>@kullanici.kullanici_id</td>
                    <td>@kullanici.Ad</td>
                    <td>@kullanici.KullaniciMaili</td>
                    <td>@kullanici.kullanici_sifresi</td>
                    <td><a href="@Url.Action("MesajGonder","Admin",new {id=kullanici.kullanici_id})" class="btn btn-warning">Mesaj Gönder</a></td>
                    <td><a href="@Url.Action("CezaSayfasi","Admin",new {id=kullanici.kullanici_id})" class="btn btn-danger">Cezalandır</a></td>
                    <td><a href="@Url.Action("Profil","Admin",new {kullaniciID=kullanici.kullanici_id})" class="btn btn-primary">Profil</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>