@model List<adminTabani_01_05_24.Models.Haber>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ZiyaretciLayout.cshtml";
}

<style>
    .containerim {
        align-items: center;
        width: 500px;
        border: none;
        background-color: darkseagreen;
        border-radius: 10%;
        padding: 20px;
        box-sizing: border-box;
        margin: 20px auto;
    }

        .containerim h3, .containerim p {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        
</style>


@foreach (var haber in Model)
{
    <div class="containerim">
        <h3>@haber.Baslik</h3>

        @if (haber.icerik.ToString().Length > 50)
        {
            <p>@haber.icerik.ToString().Substring(0, 50) ...</p>
        }
        else
        {
            <p>@haber.icerik</p>
        }
        <p><i>Başlatan: <strong>@haber.PaylasanAd</strong></i></p>
        <p>@haber.tarih.ToString().Substring(0, 16)</p>
        <a href="@Url.Action("HaberDetay","Haber",new {id=haber.HaberID})" class="btn btn-primary">Oku</a>
    </div>

}