@model List<adminTabani_01_05_24.Models.Haber>
@{
    ViewBag.Title = "UyeIndex";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="text-center" style="border:1px solid gray;background-color:rgb(128, 128, 128,0.2);padding:20px 0px 20px 0px">
    @foreach (var haber in Model)
    {
        <div>
            <h3>@haber.Baslik</h3>
            @if (haber.icerik.Length > 100)
            {
                <p>@haber.icerik.Substring(0, 100)...</p>
            }
            else
            {
                <p>@haber.icerik</p>
            }
            <p><i>Yazar: <strong>@haber.PaylasanAd</strong></i></p>
            <p>@haber.tarih.ToString().Substring(0, 16)</p>
        </div>
        <div>
            <a class="btn btn-dark" href="@Url.Action("UyeHaberDetay","Haber",new { id = haber.HaberID })">Oku</a>
        </div>
    }
</div>
