@model adminTabani_01_05_24.Models.YaziDetayPage
@{
    ViewBag.Title = "yaziDetay";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center">
    <h2>@Model.yazi.Baslik</h2>
    
    <p>@Model.yazi.icerik</p>


    <p>@Model.yazi.yazar_ad</p>
    <p>@Model.yazi.tarih</p>
    @*<a href="/Yazilar/Bildir/@Model.yazi.yazi_id" class="btn btn-danger">Bildir</a>*@
    <a class="btn btn-danger" href="@Url.Action("Bildir", "Yazilar", new {_yaziID=Model.yazi.yazi_id})">Bildir</a>
</div>

<div class="container">
    <form action="/Yazilar/YorumYap" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label" for="yorum">Yorum Yap:</label>
            <textarea class="form-control" rows="5" id="yorum" name="_yorum"></textarea>
        </div>
        <input type="hidden" name="_yaziID" value="@Model.yazi.yazi_id" />
        <button class="btn btn-primary" type="submit">Yorum Yap</button>
    </form>
</div>
<br />
<div style="margin-bottom:5px"></div>
<div class="text-center">
    <h3>Yorumlar</h3>
</div>
<hr />
<div class="container">
    @foreach (var yazi in Model.yaziyorumlari)
    {
        <div class="container">
            <p><strong><i>@yazi.yorumcuAd</i></strong>: @yazi._icerik</p>
            <p>@yazi._tarih</p>
        </div>
        <hr />
    }
</div>