@model adminTabani_01_05_24.Models.TartismaDetayPage
@{
    ViewBag.Title = "TartismaUyeIndex";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="text-center">
    <h2>@Model.tartisma.Baslik</h2>
    <p style="word-wrap:break-word; white-space:normal">@Model.tartisma.icerik</p>
    <p>@Model.tartisma.KullaniciAd</p>
    <p>@Model.tartisma.tarih</p>
    <a href="@Url.Action("Bildir",new {_tartismaID=Model.tartisma.TartismaID})">content</a>
</div>


<div class="container">
    <form action="@Url.Action("YorumYap","Tartisma")" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label" for="yorum"></label>
            <textarea class="form-control" name="_yorum" id="yorum" rows="5"></textarea>
        </div>
        <input type="hidden" name="_tartisma_id" value="@Model.tartisma.TartismaID" />
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>
<div style="margin-bottom:5px;"></div>
<div class="text-center">
    <h3>Yorumlar</h3>
</div>
<hr />
<div class="container">

    @foreach (var yorum in Model.tartisma_yorumlari)
    {
        <div class="container">
            <p><i><strong>@yorum.yorumcu_ad</strong> : @yorum._yorum</i></p>
            <p>@yorum._tarih</p>
        </div>
        <hr />
    }
</div>
