@model adminTabani_01_05_24.Models.TartismaDetayPage
@{
    ViewBag.Title = "TartismaDetay";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center">
    <h2>@Model.tartisma.Baslik</h2>
    <p>@Model.tartisma.icerik</p>
    <p>@Model.tartisma.KullaniciAd</p>
    <p>@Model.tartisma.tarih</p>
    @if (ViewBag.Deger == true)
    {
        <a class="btn btn-danger" href="@Url.Action("Bildir", "Tartisma", new {_tartismaID=Model.tartisma.TartismaID})">Bildir</a>
    }
</div>

<div class="container">
    <form action="/Tartisma/YorumYap" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label" for="yorum">Yorum Yap</label>
            <textarea class="form-control" id="yorum" name="_yorum" rows="5"></textarea>
        </div>
        <input type="hidden" name="_tartisma_id" value="@Model.tartisma.TartismaID" />
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>
<br />
<div style="margin-bottom:5px;"> </div>
<div class="text-center">
    <h3>Yorumlar</h3>
</div>
<hr />
<div class="container">
    @foreach (var yorum in Model.tartisma_yorumlari)
    {
        <div class="container">
            <p><strong><i>@yorum.yorumcu_ad</i></strong>: @yorum._yorum</p>
            <p>@yorum._tarih</p>
        </div>
        <hr />
    }
</div>