@model List<adminTabani_01_05_24.Models.Siir>
@{
    ViewBag.Title = "UyeSiirIndex";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .containerim {
        align-items: center;
        width: 500px;
        border: none;
        background-color: darkseagreen;
        border-radius: 10%;
        padding: 20px;
        box-sizing: border-box;
        margin: 20px auto;
    }

        .containerim h3, .containerim p {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
</style>


@foreach (var siir in Model)
{
    <div class="containerim">
        <h3>@siir.siirBaslik</h3>
        @if (siir.icerik.ToString().Length > 100)
        {
            <p>@siir.icerik.ToString().Substring(0, 100)</p>
        }
        else
        {
            <p>@siir.icerik</p>
        }
        <p><i>Başlatan: <strong>@siir.YazarAd</strong></i></p>
        <p>@siir.tarih.ToString().Substring(0, 16)</p>
        <a class="btn btn-primary" href="@Url.Action("UyeSiirDetay","Siir",new {siir_id=siir.siirID})">Oku</a>
    </div>
}