@model adminTabani_01_05_24.Models.KullaniciHomeViewModel
@{
    ViewBag.Title = "KullaniciHome";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="text-center">
    <h4><i>Hoşgeldin @ViewBag.Ad Bu gün nasılsın</i></h4>
</div>
<div class="text-center">

    <div class="container">
        <h5>Son Tartışmalar</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Başlatan</th>
                    <th>Başlama Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tartismalar)
                {
                    if (item.onay == true && item.aktiflik == true)
                    {

                        <tr>
                            <td>@item.Baslik</td>
                            @if (item.icerik.ToString().Length > 20)
                            {
                                <td>@item.icerik.Substring(0, 20)</td>
                            }
                            else
                            {
                                <td>@item.icerik</td>
                            }
                            <td>@item.KullaniciAd</td>
                            <td>@item.tarih</td>
                            @*                      <td><a class="btn btn-success" href="/Tartisma/Index">Tümünü Görüntüle</a></td>*@
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a href="@Url.Action("TartismaUyeIndex","Tartisma")" class="btn btn-success">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">

        <h5>Son Yazılar</h5>

        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Yazar</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var yazi in Model.yazilar)
                {
                    if (yazi.onay == true)
                    {
                        <tr>
                            <td>@yazi.Baslik</td>
                            @if (yazi.icerik.ToString().Length > 20)
                            {
                                <td>@yazi.icerik.Substring(0, 20)</td>
                            }
                            else
                            {
                                <td>@yazi.icerik</td>
                            }
                            <td>@yazi.yazar_ad</td>
                            <td>@yazi.tarih</td>

                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a class="btn btn-success" href="@Url.Action("UyeYaziIndex","Yazilar")">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5>Son Haberler</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Paylaşan</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var haber in Model.haberler)
                {
                    if (haber._onay == true)
                    {
                        <tr>
                            <td>@haber.Baslik</td>
                            @if (haber.icerik.Length > 20)
                            {
                                <td>@haber.icerik.Substring(0, 20)</td>
                            }
                            else
                            {
                                <td>@haber.icerik</td>
                            }
                            <td>@haber.PaylasanAd</td>
                            <td>@haber.tarih</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a class="btn btn-success" href="/Haber/UyeIndex">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5>Son Şiirler</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Yazar</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var siir in Model.siirler)
                {
                    if (siir._onay == true)
                    {
                        <tr>
                            <td>@siir.siirBaslik</td>
                            @if (siir.icerik.ToString().Length > 20)
                            {
                                <td>@siir.icerik.Substring(0, 20)</td>
                            }
                            else
                            {
                                <td>@siir.icerik</td>
                            }
                            <td>@siir.yazar</td>
                            <td>@siir.tarih</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a href="/Siir/UyeSiirIndex" class="btn btn-success">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5>Son Resimler</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Resim</th>
                    <th>Açıklama</th>
                    <th>Paylaşan</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resim in Model.resimler)
                {
                    <tr>
                        <td>@resim.baslik</td>
                        <td><img src="@Url.Content("~/Content/images/"+resim.dosyaYolu)" style="width: 100%; height: auto; max-width: 100px; cursor: pointer;" /></td>
                        @if (resim.aciklama.ToString().Length > 20)
                        {
                            <td>@resim.aciklama.Substring(0, 20)</td>
                        }
                        else
                        {
                            <td>@resim.aciklama</td>
                        }
                        <td>@resim.PaylasanAd</td>
                        <td>@resim.tarih</td>
                    </tr>
                }
                <tr>
                    <td colspan="4"><a href="/Resim/Index" class="btn btn-success">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
