@model adminTabani_01_05_24.Models.KullaniciHomeViewModel
@{
    ViewBag.Title = "KullaniciHome";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center">
    <h4><i>Hoşgeldin @ViewBag.Ad Bu gün nasılsın</i></h4>
</div>
<div class="text-center">

    <div class="container">
        <h5>Son Tartışmalar</h5>
        <table class="table">
            <thead>
                <tr>
                    <td>Başlık</td>
                    <td>İçerik</td>
                    <td>Başlatan</td>
                    <td>Başlama Tarihi</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tartismalar.Take(5))
                {
                    if (item.onay == true && item.aktiflik == true)
                    {

                        <tr>
                            <td>@item.Baslik</td>
                            <td>@item.icerik.Substring(0, 20)</td>
                            <td>@item.KullaniciAd</td>
                            <td>@item.tarih</td>
                            @*                      <td><a class="btn btn-success" href="/Tartisma/Index">Tümünü Görüntüle</a></td>*@
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a href="/Tartisma/Index" class="btn btn-success">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">

        <h5>Son Yazılar</h5>

        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Yazar</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var yazi in Model.yazilar.Take(5))
                {
                    if (yazi.onay == true)
                    {
                        <tr>
                            <td>@yazi.Baslik</td>
                            <td>@yazi.İcerik.Substring(0, 20)</td>
                            <td>@yazi.yazar_ad</td>
                            <td>@yazi.tarih</td>

                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a class="btn btn-success" href="/Yazilar/Index">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5>Son Haberler</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Paylaşan</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var haber in Model.haberler.Take(5))
                {
                    if (haber._onay == true)
                    {
                        <tr>
                            <td>@haber.Baslik</td>
                            <td>@haber.icerik.Substring(0, 20)</td>
                            <td>@haber.PaylasanAd</td>
                            <td>@haber.tarih</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a class="btn btn-success" href="/Haberler/Index">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5>Son Şiirler</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Yazar</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var siir in Model.siirler.Take(5))
                {
                    if (siir._onay == true)
                    {
                        <tr>
                            <td>@siir.siirBaslik</td>
                            <td>@siir.icerik.Substring(0, 20)</td>
                            <td>@siir.yazar</td>
                            <td>@siir.tarih</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4"><a href="/Siir/Index" class="btn btn-success">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5>Son Resimler</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Resim</th>
                    <th>Açıklama</th>
                    <th>Paylaşan</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resim in Model.resimler)
                {
                    <tr>
                        <td>@resim.baslik</td>
                        <td><img src="@Url.Content(resim.dosyaYolu)" /></td>
                        <td>@resim.aciklama.Substring(0, 20)</td>
                        <td>@resim.PaylasanAd</td>
                        <td>@resim.tarih</td>
                    </tr>
                }
                <tr>
                    <td colspan="4"><a href="/Resim/Index" class="btn btn-success">Tümünü Görüntüle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
